@using BartenderSupportSystem.Client.ViewModels.RecommendationSystem
@using BartenderSupportSystem.Shared.Models.RecommendationSystem.Enums
<h3>Brands Form</h3>
<EditForm Model="BrandViewModel" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>
    <div class="form-group">
        <label for="@BrandViewModel.Name">Name</label>
        <div>
            <InputText class="form-control col-6" @bind-Value="@BrandViewModel.Name"/>
            <ValidationMessage For="@(() => BrandViewModel.Name)"/>
        </div>
    </div>
    <div class="form-group">
        <label for="@BrandViewModel.CountryOfOrigin">Country Of Origin</label>
        <div>
            <InputText class="form-control col-6" list="countries" @bind-Value="@BrandViewModel.CountryOfOrigin"/>
            <DatalistEnumeration Id="countries" EnumType="@typeof(Countries)"/>
            <ValidationMessage For="@(() => BrandViewModel.CountryOfOrigin)"/>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {

    [Parameter]
    public BrandViewModel BrandViewModel { get; set; }

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

}